/*@import '~antd/dist/antd.css';*/

body{
  background-color: #ffffff;
  font-family: Arial, serif;
  font-size: 14px;
  color: #555;
  margin: 0;
  /* font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
}

/*#signup{*/
/*  font-size: 18px;*/
/*  text-align: center;*/
/*}*/

.signin-container, .signup-container{
  position: absolute;
  width: 500px;
  height: 500px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0px 0px 5px #ccc;
}

.signup-container{
  height: 650px;
}

footer{
  display: inline;
}

.left{
  margin: 10px;
  float: left;
}

.right{
  float: right;
}

.email, .pass{
  width: 400px;
  padding: 10px;
  font-family: Arial;
  font-size: 14px;
  margin: 5px 40px;
}

.text{
  font-size: 14px;
  margin: 5px 40px;
}

#welcome{
  margin-top: 50px;
  font-size: 18px;
  text-align: center;
}

#desc, #or{
  font-size: 14px;
  text-align: center;
}

.note{
  text-align: center;
  font-size: 10px;
  font-style: italic;
  margin-top: 20px;
}

.first{
  float: left;
  width: 176px;
  padding: 10px;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 10px;
}

.last{
  float: left;
  width: 176px;
  padding: 10px;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-left: 10px;
}

.login-form {
  max-width: 500px;
}

.login-form-forgot {
  float: right;
}

.container, .container-register{
  width: 400px;
  height: 450px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0px 0px 10px #ccc;
  padding: 30px 40px;
}

/*.btn-size{*/
/*  width: 100%;*/
/*}*/

.topics-btn-size{
  width: 75px;
}

.head{
  text-align: center;
  font-size: 18px;
  color:  #59595A;
  padding-bottom: 10px;
}

.tagline{
  text-align: center;
  font-size: 14px;
  color: #59595A;
  padding-bottom: 10px;
}

.container-register{
  height: 550px;
}

.center{
  text-align: center;
}

/*.modal-button{*/
/*  width: 100px;*/
/*}*/

textarea{
  width: 100%;
  height: 100px;
}

.post-container, .rate-container, .review-container{
  width: auto;
  min-height: 100px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #eeeeee;
}

/*.right-padding{*/
/*  padding-right: 5px;*/
/*}*/

/*.category{*/
/*  font-size: 12px;*/
/*  color: orange;*/
/*}*/

/*.title{*/
/*  font-size: 24px;*/
/*}*/

/*.italics{*/
/*  font-style: italic;*/
/*  font-size: 12px;*/
/*  text-align: center;*/
/*}*/

/*.padding{*/
/*  padding: 0px;*/
/*  margin: 0px;*/
/*}*/

.font{
  font-size: 16px;
}

.size a{
  font-size: 16px;
  color: #40a9ff;
}

.font-18{
  font-size: 18px;
}

.mid{
  line-height: 20
}

.ant-row.ant-form-item{
  margin: 5px 10px 5px 10px;
}

.ant-divider.ant-divider-horizontal.ant-divider-with-text-center{
  margin: 5px 0;
}

.ant-col.ant-form-item-label{
  line-height: 2;
}

.ant-col.ant-form-item-label label{
  font-size: 13px;
}

.ant-table-wrapper{
  margin: 40px;
}

.ant-layout{
  height: 100vh;
}

.custom-layout-header, .custom-layout-footer{
  height: auto;
  line-height: 1;
  background-color: #ffffff;
}

.custom-layout-footer{
  padding: 0 50px;
}

.ant-layout-sider{
  background-color: #ffffff;
}


/*Comments Section*/

.comments-container{
  margin: 0px 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid #eeeeee;
}

.comments-content{
  margin-bottom: 5px;
  font-size: 14px;
}

.reviews-title{
  font-size: 17px;
  margin: 10px;
  margin-bottom: 0px;
  padding: 10px;
  border: 1px solid #eeeeee;
  background-color: rgb(250,250,250);
}

.orange-color{
  color: orange;
  margin-bottom: 5px;
  font-size: 16px;
}

.bold{
  font-weight: bold;
}

.flex{
  display: flex;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex: 1;
  padding-right: 10px;
}

.float-left{
  float: left;
  height: 100%;
}

.child-flex{
  flex: 23;
}

.ant-rate.margin-bottom{
  margin-bottom: 5px;
}

.margin-bottom{
  margin-bottom: 5px;
}

.bg-color{
  background-color: dodgerblue;
}

.menu-bg-color{
  background-color: lightblue;
}

.sider-height{
  height: 100vh;
}

div.ant-comment-inner{
  padding: 0px;
}

.ant-divider.ant-divider-horizontal{
  margin: 15px 0px;
}

.border{
  border-bottom: 1px solid #eeeeee;
}

.sm-size{
  font-size: 12px;
}

.sm-margin-side{
  margin: 0px 10px;
}

.margin-side{
  margin: 0px 20px;
}

.margin{
  margin: 10px 20px;
}